.wrapper {
    width: 60%;
    margin: 0 auto;
    max-width: 1600px;
}

h2 {
    margin-left: -10%;
}

.aboutContainer {
    display: flex;
    margin: 20vh 0;
    justify-content: space-between;
    align-items: center;
}

.aboutText,
.aboutImg {
    width: calc(50% - 2vw);
    margin: 0 1vw;
}

.aboutText {
    margin-right: 2vw;

    p {
        margin-top: 0;
    }

    i {
        margin: 0;
        padding: 0 1rem;
        font-size: 2rem;
    }
}

.aboutIcons {
    text-align: left;
    
    i {
        padding-left: 0;
        padding-right: 0.5rem;
    }
}

.aboutImg {
    margin-left: 2vw;
}

.selfImg {
    width: 100%;
    margin: auto 0;
    border: 3px solid royalblue;
    border-radius: 10px;
}