

.contactContainer {
    display: flex;
    margin: 18vh 0;

    img {
        width: 80%;
        margin: 2rem auto;
    }

    i {
        font-size: 2rem;
        cursor: pointer;
        padding: 0;
        margin: 0;

        &:hover {
            color: royalblue;
        }
    }

}

.contactSide,
.contactLinks {
    width: 48%;
    margin: 0 1%;
}

.contactSide {
    text-align: center;

}

.contactLinks {
    margin-top: 8vh;
}

.contactLink {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
}

.fa-paper-plane {
    transform: rotate(16deg);
}