header {
    background-image: url(../assets/header.jpg);
    background-size: cover;
    height: 100vh;
    position: relative;
}

.headerWrapper {
    position: relative;
    max-width: 1600px;
    width: 85%;
    margin: 0 auto;
}

.logo {
    position: absolute;
    top: 7vh;
    left: 7vw;
    z-index: 1;

    &:hover {
        cursor: pointer;
    }

    img {
        width: 50px;
    }
}

h1 {
    font-weight: 700;
    font-size: 4rem;
    padding-top: 45vh;
    text-transform: lowercase;
}

h3 {
    font-size: 1.6rem;
    font-family: "Itim", cursive;
    text-transform: lowercase;
    color: #AAABB8;
}

.downChevron {
    z-index: 1;
    cursor: pointer;
}

.chevron {
    position: absolute;
    width: 50px;
    bottom: 0;
    right: 8vw;
    animation: bounce 1s infinite;
}