main {
    position: relative;
    margin-top: 2vh;
}

.navigation {
    position: absolute;
    height: 100%;
    right: 7vw;
}

.mainNav {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 45;

    a {
        text-decoration: none;
        margin: 0.25vh 0;
        color: white;
        font-weight: 600;
        font-size: 0.8rem;
        transition: font-size 0.5s;

        &:hover {
            color: royalblue;
        }

        &:active {
            color: royalblue;
        }

        &.current {
            color: royalblue;
            font-size: 1.2rem;
        }
    }
}

.toTop {
    width: 50px;
    position: fixed;
    bottom: 5vh;
    right: 7vw;
    cursor: pointer;
    z-index: 1;
    visibility: hidden;
    animation: bounce 1s infinite;

    &.show {
        visibility: visible;
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0px)
    }
}