main {
    position: relative;
    margin-top: 2vh;
}

.navigation {
    position: absolute;
    height: 100%;
    right: 7vw;
}

.mainNav {
    position: sticky;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 1;

    a {
        text-decoration: none;
        margin: 0.25vh 0;
        color: white;
        font-weight: 600;
        font-size: 0.8rem;
        transition: font-size 0.5s;

        &:hover {
            color: royalblue;
        }

        &:active {
            color: royalblue;
        }

        &.current {
            color: royalblue;
            font-size: 1.2rem;
        }
    }
}

.burgerNav {
    display: none;
    position: fixed;
    top: 5vh;
    right: 7vw;
    cursor: pointer;
    z-index: 2;
}

.barOne,
.barTwo,
.barThree {
    width: 36px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 3px;
}

.barOne.change {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.barTwo.change {
    opacity: 0;
}

.barThree.change {
    transform: rotate(45deg) translate(-8px, -8px);
}

.mobileNav {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 10vh;
    right: 12vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 2;
    transition: 0.5s;
    
    a {
        color: #AAABB8;
        font-weight: 600;
        font-size: 1rem;
    }
}

.mobileNav.show {
    visibility: visible;
    opacity: 1;
}

.mobileNavBackground {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 250px;
    background-image: radial-gradient(250px circle at top right, royalblue 99%, transparent 99.1%);
    z-index: 1;
    transition: 0.5s;
}

.mobileNavBackground.show {
    visibility: visible;
    opacity: 1;
}

.toTop {
    width: 50px;
    position: fixed;
    bottom: 5vh;
    right: 7vw;
    cursor: pointer;
    z-index: 1;
    visibility: hidden;
    animation: bounce 1s infinite;

    &.show {
        visibility: visible;
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0px)
    }
}