@media (max-width: 1366px) {
    .overlay {
        position: relative;
        opacity: 1;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        background: none;
    }
    
    .overlay i {
        margin-bottom: 0.8rem;
        padding: 0.5rem 1rem 0 0;
        font-size: 1.5rem;
    }

    .overlay a {
        margin: 0 20px 0.8rem 0;
    }

}

@media (max-width: 865px) {
    .aboutContainer {
        flex-direction: column;
        margin: 8vh 0 12vh;
    }

    .aboutText {
        width: 100%;
        margin-bottom: 8vh;
    }

    .aboutImg {
        width: 70%;
        margin: 0 auto;
    }

    .icons {
        margin: 8vh 0;
    }

    .projectImgContainer {
        width: 100%;
    }

    .projectImg {
        width: 100%;
    }

    // .contactLinks {
        // margin-top: 3vh;
    // }

    .contactContainer {
        flex-direction: column;
        margin-top: 8vh;
    }

    .contactSide,
    // .contactLinks,
    .contactFormContainer {
        width: 100%;
        // margin: 0 1%;
    }
}

@media (max-width: 768px) {
    .wrapper {
        width: 80%;
    }

    .mainNav {
        display: none;
    }

    .contactContainer {
        flex-direction: column;
        margin-top: 8vh;
    }

    .contactSide,
    .contactLinks {
        width: 100%;
    }

    .contactLinks {
        margin-top: 0;
    }
}

@media (max-width: 480px) {
    i {
        margin: 2rem;
    }

    .fa-terminal {
        font-size: 2.6rem;
    }
}