@media (max-width: 1112px) {
    .overlay {
        position: static;
        opacity: 1;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .overlay i {
        margin-bottom: 0;
        padding: 0.5rem;
    }

}

@media (max-width: 865px) {
    .aboutContainer {
        flex-direction: column;
        margin: 8vh 0 12vh;
    }

    .aboutText {
        width: 100%;
        margin-bottom: 8vh;
    }

    .aboutImg {
        width: 70%;
        margin: 0 auto;
    }

    .icons {
        margin: 8vh 0;
    }

    .projectImgContainer {
        width: 100%;
    }

    .projectImg {
        width: 100%;
    }

    .contactLinks {
        margin-top: 3vh;
    }
}

@media (max-width: 768px) {
    .wrapper {
        width: 80%;
    }

    .navigation {
        right: 3vw;
    }

    .burgerNav {
        display: block;
    }

    .mainNav {
        display: none;
    }


    .contactContainer {
        flex-direction: column;
        margin-top: 8vh;
    }

    .contactSide,
    .contactLinks {
        width: 100%;
    }

    .contactLinks {
        margin-top: 0;
    }
}