html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
  background-color: black;
  color: white;
  font-family: 'Rubik', sans-serif;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
a {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: royalblue;
}

i,
h4,
p {
  font-family: "Itim", sans-serif;
  color: #AAABB8;
}

a {
  cursor: pointer;
}

header {
  background-image: url(../assets/header.jpg);
  background-size: cover;
  height: 100vh;
  position: relative;
}

.headerWrapper {
  position: relative;
  max-width: 1600px;
  width: 85%;
  margin: 0 auto;
}

.logo {
  position: absolute;
  top: 7vh;
  left: 7vw;
  z-index: 1;
}

.logo:hover {
  cursor: pointer;
}

.logo img {
  width: 50px;
}

h1 {
  font-weight: 700;
  font-size: 4rem;
  padding-top: 45vh;
  text-transform: lowercase;
}

h3 {
  font-size: 1.6rem;
  font-family: "Itim", cursive;
  text-transform: lowercase;
  color: #AAABB8;
}

.downChevron {
  z-index: 1;
  cursor: pointer;
}

.chevron {
  position: absolute;
  width: 50px;
  bottom: 0;
  right: 8vw;
  -webkit-animation: bounce 1s infinite;
          animation: bounce 1s infinite;
}

main {
  position: relative;
  margin-top: 2vh;
}

.navigation {
  position: absolute;
  height: 100%;
  right: 7vw;
}

.mainNav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  z-index: 1;
}

.mainNav a {
  text-decoration: none;
  margin: 0.25vh 0;
  color: white;
  font-weight: 600;
  font-size: 0.8rem;
  -webkit-transition: font-size 0.5s;
  transition: font-size 0.5s;
}

.mainNav a:hover {
  color: royalblue;
}

.mainNav a:active {
  color: royalblue;
}

.mainNav a.current {
  color: royalblue;
  font-size: 1.2rem;
}

.burgerNav {
  display: none;
  position: fixed;
  top: 5vh;
  right: 7vw;
  cursor: pointer;
  z-index: 2;
}

.barOne,
.barTwo,
.barThree {
  width: 36px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 3px;
}

.barOne.change {
  -webkit-transform: rotate(-45deg) translate(-8px, 8px);
          transform: rotate(-45deg) translate(-8px, 8px);
}

.barTwo.change {
  opacity: 0;
}

.barThree.change {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
          transform: rotate(45deg) translate(-8px, -8px);
}

.mobileNav {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 10vh;
  right: 12vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  z-index: 2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.mobileNav a {
  color: #AAABB8;
  font-weight: 600;
  font-size: 1rem;
}

.mobileNav.show {
  visibility: visible;
  opacity: 1;
}

.mobileNavBackground {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 250px;
  background-image: radial-gradient(250px circle at top right, royalblue 99%, transparent 99.1%);
  z-index: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.mobileNavBackground.show {
  visibility: visible;
  opacity: 1;
}

.toTop {
  width: 50px;
  position: fixed;
  bottom: 5vh;
  right: 7vw;
  cursor: pointer;
  z-index: 1;
  visibility: hidden;
  -webkit-animation: bounce 1s infinite;
          animation: bounce 1s infinite;
}

.toTop.show {
  visibility: visible;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.wrapper {
  width: 60%;
  margin: 0 auto;
  max-width: 1600px;
}

h2 {
  margin-left: -10%;
}

.aboutContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20vh 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutText,
.aboutImg {
  width: calc(50% - 2vw);
  margin: 0 1vw;
}

.aboutText {
  margin-right: 2vw;
}

.aboutText p {
  margin-top: 0;
}

.aboutText i {
  margin: 0;
  padding: 0 1rem;
  font-size: 2rem;
}

.aboutIcons {
  text-align: center;
}

.aboutImg {
  margin-left: 2vw;
}

.selfImg {
  width: 100%;
  margin: auto 0;
  border: 3px solid royalblue;
  border-radius: 10px;
}

.icons {
  margin: 19vh 0;
  text-align: center;
}

i {
  font-size: 3rem;
  margin: 4vw;
}

i:hover {
  color: royalblue;
}

.projectsContainer {
  width: 100%;
  text-align: center;
  margin: 2rem 0 4rem;
}

.project {
  margin: 10vh auto;
  position: relative;
}

.projectImgContainer {
  position: relative;
  width: 500px;
  margin: 0 auto;
}

.projectImgContainer h4 {
  text-align: left;
  position: absolute;
  top: -1.5rem;
  left: -1rem;
}

.projectImg {
  width: 500px;
  border: 3px solid royalblue;
  border-radius: 10px;
}

.overlay {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overlay i {
  font-size: 2rem;
  padding: 1rem;
  margin: 0;
  margin-bottom: 2rem;
}

.overlay a {
  margin: 0 20px;
  color: #AAABB8;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Itim", cursive;
}

.overlay a:hover {
  color: royalblue;
}

.projectImgContainer:hover .overlay {
  opacity: 1;
}

.contactContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 18vh 0;
}

.contactContainer img {
  width: 80%;
  margin: 2rem auto;
}

.contactContainer i {
  font-size: 2rem;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.contactContainer i:hover {
  color: royalblue;
}

.contactSide,
.contactLinks {
  width: 48%;
  margin: 0 1%;
}

.contactSide {
  text-align: center;
}

.contactLinks {
  margin-top: 8vh;
}

.contactLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
}

.fa-paper-plane {
  -webkit-transform: rotate(16deg);
          transform: rotate(16deg);
}

footer {
  height: 5vh;
  text-align: center;
}

@media (max-width: 865px) {
  .aboutContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 8vh 0 12vh;
  }
  .aboutText {
    width: 100%;
    margin-bottom: 8vh;
  }
  .aboutImg {
    width: 70%;
    margin: 0 auto;
  }
  .icons {
    margin: 8vh 0;
  }
  .projectImgContainer {
    width: 100%;
  }
  .projectImg {
    width: 100%;
  }
  .contactLinks {
    margin-top: 3vh;
  }
}

@media (max-width: 768px) {
  .wrapper {
    width: 80%;
  }
  .navigation {
    right: 3vw;
  }
  .burgerNav {
    display: block;
  }
  .mainNav {
    display: none;
  }
  .overlay {
    position: static;
    opacity: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .overlay i {
    margin-bottom: 0;
    padding: 0.5rem;
  }
  .contactContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 8vh;
  }
  .contactSide,
  .contactLinks {
    width: 100%;
  }
  .contactLinks {
    margin-top: 0;
  }
}
